
#wrapper{ 

    margin: 0, auto;
    max-width: 960px;
    padding: 0;
    height: 100%;
    width: 100%;
     min-width:700px;
    max-width:700px;
    text-align:center;
    margin:0 auto;
    
}


#complete-story p {
    
    display: inline-block;
     font-size: 20px;
    font-family: 'Roboto', sans-serif;
   
}

#complete-story {
    
   display: inline-block;


}

.center-text { 

    text-align: center;
}
}

/* Add a color to the active/current link */
.topnav a.active {
    color: white;
font-family: 'IBM Plex Sans Condensed', sans-serif;
    text-decoration:none;
    
}

/*landing page*/

.intro { 
height: 100%;
width: 100%;
margin: auto;
background: url(Media/header-image-2.JPG);
background-position:center;
background-size: cover;
display: table;
top: 0;
}

.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content {

    margin: 0, auto;
    text-align: center;
    
}

.content h1 {
    
  font-family: 'Oswald', sans-serif;
    text-transform: uppercase;

;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 700px #000;
    
    font-size: 500%;
    font-weight: 500px;
    font-kerning: 30px;
    stroke: 1px;
}


/*paralax on inside*/

.carlos-photo { 
height: 100%;
width: 100%;
margin: auto;
background: url(Media/IMG_8641-2.jpg);
background-position:center;
background-size: cover;
display: table;
top: 0;
}

.carlos-photo .inner2 {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content2 {

    margin: 0, auto;
    text-align: center;
    height: 400px;
    
}

.content2 h1 {
    
  font-family: 'Oswald', sans-serif;
    text-transform: uppercase;

;
    color: #ffffff;
    text-shadow: 0px 3px 700px #000;
    font-size: 200%;
    font-weight: 500px;
    font-kerning: 30px;
    stroke: 1px;
}

.jail-barbed-wire { 
height: 100%;
width: 100%;
margin: auto;
background: url(Media/Jail%20with%20barbed%20wire.jpg);
background-position:center;
background-size: cover;
display: table;
top: 0;
}

.jail-barbed-wire .inner3 {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content3 {

    margin: 0, auto;
    text-align: center;
    height: 400px;
    
}

.detention-center { 
height: 100%;
width: 100%;
margin: auto;
background: url(Media/IMG_0110.jpg);
background-position:center;
background-size: cover;
display: table;
top: 0;
}

.detention-center .inner4 {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content4 {

    margin: 0, auto;
    text-align: center;
    height: 300px;
    
}


p { 
    
    font-size: 160%;
    line-height: 210%;
    text-align: justify;
    margin: 3%;
    font-family: sans-serif;
    
}

.disclaimer  { 

font-size: 14px;
}

.photo-caption { 

font-size: 14px;
line-height:100%;
}

audio { 

    width: 600px;
}

h1{
    
text-align: center;
font-weight: 900px;
letter-spacing: 3px;
text-transform: uppercase;
font-family: 'IBM Plex Sans Condensed', sans-serif; 
}

h2 { 

    font-size:25px;
text-transform: uppercase;
font-family: 'IBM Plex Sans Condensed', sans-serif;
}


/* footer */

footer {
  left: 0;
  bottom: 0;
  width: 100%;
    height: 115px;
  background-color: rgb(28,129,161, .5) ;
  color: #000;
  text-align: center;
font-size: 12px;
}

.email {
    text-decoration: none;
    color: black;
}

.email a:link {
    
    color: black;
}

/* links*/

/* unvisited link */
a:link {
 color: rgb(28,129,161);
    text-decoration: none;
    font-weight: 600;
}

/* visited link */
a:visited {
  color: rgb(28,129,161);
    text-decoration: none;
    

}

/* mouse over link */
a:hover {
  color: rgb(45, 178, 221);
      text-decoration: none;

}

/* selected link */
a:active {
  color: #ffffff;
    text-decoration: none;
}


/* footer closed*/

@media screen and (max-width: 768px) {
    
    .content h1 {
        font-size: 250%;
    }
    .btn {
        font-size: 110%;
        padding: 7px;
        padding-left: 15;
        padding-right: 15;
    }
     
    p {
        font-size: 100%;
        line-height: 160%;
    }
    
header {
    height: 32px;
    width: 1145px;

}
footer {
  left: 0;
  bottom: 0;
  width: 100%;
    height: 75px;
font-size: 10px;
}

.email {
    text-decoration: none;
    color: black;
}

 .photo2 {
    
   width: 200px;
    padding: 10px;
}   

    iframe {
        
        width:600px;
        padding:10px;
        float: left;
    }
    
@media screen and (max-width: 485px) {
    
    
#wrapper{ 

    margin: 0, auto;
    max-width: 485px;
    padding: 0;
    height: 100%;
    width: 100%;
     min-width:400px;
    max-width:400px;
    text-align:center;
    margin:0 auto;
    
}

    
    
    .content h1 {
        font-size: 250%;
    }
     
    p {
        font-size: 14px;
        line-height: 160%;
    }
    
header {
    height: 32px;
    width: 1145px;

}
    
    audio {
        
        width: 300px;
    }


footer {
  left: 0;
  bottom: 0;
  width: 100%;
    height: 75px;
font-size: 10px;
}

.email {
    text-decoration: none;
    color: black;
}

 .photo2 {
    
   width: 200px;
    padding: 10px;
}   

iframe {
        
width: 200px;
    height: 300px;
    }}
